<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="PDF">

	<listeners>
		<listener class-name="Pagefactory.Listeners" />
	</listeners>

	<test name="UploadPDF">
        <classes>
            <class name="SCL_Issue.File_Upload.testLogin">
                <methods>
					<include name="Login"/>
                    <include name="createpdf"/>
                    <include name="quit"/>
                </methods>
            </class>
        </classes>
    </test></suite> <!--
Suite -->
